     .open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;

     nav{
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 50px 0px 50px;
   box-shadow: 0 2px 8px rgb(red, green, blue);
   margin: 0px 200px;
   margin-left: 150px;
   margin-right: 150px;
   gap: auto;

     }
    

     

}

.Logo{
    
    font-size: 24px;
    color: #4E47FF;
    align-items: center;

}
.btn-primary{
    color: white;
    font-weight: 700px;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
     background-color: #4E47FF;
}
  
     .banner{
        margin-bottom: 86px;
     }



.banner-section{
    justify-content: center;
    text-align: center;
     gap: 37px;
   text-wrap: wrap;
    margin-top: 180px;
    margin-left: 180px; 
    margin-right: 200px;
   margin-bottom: 100px;
   padding: 0.5px;
   font-weight: 900px;
   font height: 230px; 
   font-family: inter;
  
   
}


header
{
    background-image: url('../Assets/Hero-bg.png'); height: 698px;
    width: 1440px;
    
    align-items: center;
    

}
    
    
.banner-heading{
    color: #252525;
    font-size: 65px;
    margin: auto;
    font: bold;
   
  
    
}
.preview-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
    padding: 60px 40px;
    gap: 50px;
    width: 1140px;
    height: 300px;
    border-radius: 48px;
    
    

}
.preview-text{
    max-width: 400px;
    text-align: left;
    color: #252432;
}
.preview-text h2{
    font-size: 1.5em;
    margin-bottom: 10px;
}


button:hover{
    color: #4E47FF;
}
.preview-img img{
    border-radius: 15px;
    height: 328px;
    width: 360px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 0 auto;
    margin: 0;
    border: 10px;

}
.secondary-btn{
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
}
    
.users{
    background-color: #D2D1EB;
    padding: 60px 20px;
    border-radius:10px;
    justify-content: center;
    border-radius: 24px;
    gap: 10px;
    background-position: center;
    padding: 80px 50px;
    background-size: 1144px 338px;
   margin-left: 230px;
   margin-right: 180px;

}
.users h3{
    align-items: center;
    justify-content: center;
    
}
.user-grid{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0;
    display-wrap;wrap;
    border-left: 5px;
    border-bottom: 8px;
    
}
.user-title{
     display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 50px 0px 50px;
   box-shadow: 0 2px 8px rgb(red, green, blue);
   margin: 0px 200px;
   margin-left: 140px;
   margin-right: 150px;
   gap: auto;
   font-size: 20px;
   
}
.user-grid div h2{
    font-size: 2.2em;
    color: #4E47FF;
}
.user-grid p{
    font-size: 1em;
    color:#000000;

}
.review{
    display: flex;
    justify-content: center;
    
}
.reviews-card{
    gap: 300px;
   
    box-shadow: rgb(red, green, blue);
    padding: 24px;
    border: 2px solid rgb(255, 253, 253);
    border-radius: 20px;



}
.cards{
    justify-content: center;
    text-align: center;
     gap: 37px;
   text-wrap: wrap;
    margin-top: 180px;
    margin-left: 180px; 
    margin-right: 200px;
   margin-bottom: 100px;
   padding: 0.5px;
   font-weight: 900px;
   font height: 230px; 
   font-family: inter;

}




.contact-section{
  padding: 71px;

    
}
.contact-container{
    max-width: 1000px;
    margin: auto;
    
}
.contact-information{
    display: flex;
    
    justify-content: space-between;
}
.contact-information h1{
    padding: 0 auto;
    font-size: 97px;
    font-weight: bold;
    margin: 60px 40px 30px 40px;
}
body{
    background-color:#F4F7FE;
}
.contact-form input{

border-radius: 6px;
padding-left: 12px;
width: 461px;
height: 64px;
text-box: white;

}
.contact-form textarea{
    border-radius: 5px;
    width: 461px;
    height: 180px;
}
    
.logo{
    background-color: white;
    padding: 60px 20px;
    text-align: center;
    max-width: 900px;
    margin: 200px;
}
.Logo-arrow{
    font-size: 48px;
    font-weight: 800px;
    margin-bottom: 20px;
}
.description{
    font-size: 18px;
    color: #8987A1;
    max-width: 700px;
    margin: 0 auto 30px;
    line-height: 1.6;

}
.nav-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.nav-links a
{
    text-decoration: none;
    color: #8987A1;
    font-weight: 500px;

}
